<form action="/figures" method="post">
 <h2>Name:</h2> <input type="text" id="figure_name" name="figure[name]">
 <p>Titles:</p><input type="text" id="figure_title" name="figure[title]">
 <p>Landmarks:</p><input type="text" id="figure_landmark" name="figure[landmark]">
  <input type="submit" value="submit">
</form>
